$color-background: #F9F9F9;
$color-anchor: #330000;
$color-button:#CC3300;
$color-text: #333B48;
$color-table: #DDD3CA;

$font: 'Poppins', sans-serif;

        // globals
html{
    width: 100%;
    height: 100%;
    overflow: auto;
}
body{
    margin: 0;
    padding: 0;
    font-family: $font;
    background-color: $color-background;
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-rows: auto 1fr;

}

// buttons and input 

label{
    display: block;
    font-size: 1rem;
    color: $color-text;
    margin-bottom: 0.5rem;
}
input[type="text"]{
    display: block;
    box-sizing: border-box;
    font-size: 1rem;
    width: 310px;
    border: 2px solid #EEEEEE;
    color: #777777;
    padding-left: 10px;
    height: 2.5rem;
}
.input-field{
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    padding-top: 3rem;
    flex-wrap: wrap;
}


::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    font-family: $font;
    font-size: 1rem;
    color: #777777;
    opacity: 1; /* Firefox */
}
    
    :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #777777;
    font-size: 1rem;
    font-family: $font;
}
    
    ::-ms-input-placeholder { /* Microsoft Edge */
    color: #777777;
    font-size: 1rem;
    font-family: $font;
}
input:focus{
    color: #777777;
    outline:none;
}

button{
    background-color: #CC3300;
    cursor: pointer;
    color: white;
    font-size: 1rem;
    border: none;
    padding: 0.65rem 0rem 0.65rem 0rem;
    margin-bottom: 2rem;
    width: 11rem;
}
.white-btn{
    box-sizing: border-box;
    background-color: $color-background;
    outline:1px solid $color-button;
    color: $color-button;
}


.select{
    border: 2px solid #EEEEEE;
    select{
        -webkit-appearance: none;
        -moz-appearance: none;
        background: transparent;
        background-image: url("data:image/svg+xml;utf8,<svg fill='%23777777' height='40' viewBox='0 0 30 30' width='40' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
        background-repeat: no-repeat;
        background-position-x: 100%;
        background-position-y: 5px;
        border: none;
        outline: none;
        width: 310px;
        height: 100%;
        padding: .68rem;
        background-color: white; 
        border: none; 
        color: #777777;
        font-size: 1rem;
        cursor: pointer;
    }
}

// background layout

.sidebar{
    width: 14%;
    position: fixed;
    top: 0;
    left: 0;
    min-height: 100vh;
    box-sizing: border-box;
    background-color: $color-anchor;
}
.main{
    width: 85%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    margin-top: 6rem;
    margin-left: calc(14% + 2rem);
    margin-right: 2rem;
}

// form modals

.form-modal{
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 


}
.modal-content{
    min-height: fit-content;
    background-color: $color-background;
    width: 50%;
    min-height: 300px;
    padding: 1.75rem;
    box-sizing: border-box;
}

// bars

.small-bar{
    width: 107px;
    height: 40px;
    border-radius: 25px;
    background-color: white;
    border: 1px solid #EEEEEE;
    position: relative;
}
.medium-bar{
    width: 125px;
    height: 40px;
    border-radius: 25px;
    background-color: white;
    border: 1px solid #EEEEEE;
    position: relative;
}
.large-bar{
    width: 130px;
    height: 40px;
    border-radius: 25px;
    background-color: white;
    border: 1px solid #EEEEEE;
    position: relative;
}
.lower-section{
    display: flex;
    padding-inline: 1.5rem;
    padding: 4rem 0;
    margin-inline: 1rem;
    >*{
        flex-basis: 100%;
    }
}
.bars{
    
    
    > div{
        display: flex;
        gap: 1rem;
        margin-bottom: 1rem;
    }
}
i{
    color: $color-button;
    position: absolute;
    right:10px;
    top: 13px;
}
        // login
.login{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100vh;
}        

.container-login{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    width: 30%;

    > *{
        margin-bottom: 1rem;
    }

    button, input{
        width: 100%;
        height: 2.25rem;
    }
    button{
        width: 100%;
        box-sizing: content-box;  
    }

}

// tables
table{
    width: 100%;
}
.table-wrap{
    height: 78%;
    background-color: white;
}
thead, tr{
    box-sizing: border-box;
}
td{
    padding: 1.25rem;
    border-bottom: 1px solid lighten($color-table, 10%);
}
thead{
    background-color: $color-table;
}


        // new_resto page

.new_resto{
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: 100%;
    display: flex;
    input{
        width: 280px;
    }
    button{
        margin-left: auto;
    }
    .main{
        min-height: 100%;
    }
    .table-wrap{
        height: 500px;
    }

    .input-field{
        box-sizing: border-box;
        display: flex;
        justify-content: space-between;
        gap: 2rem;
        padding-top: 3rem;
        flex-wrap: wrap;

        div:last-of-type{
            margin-bottom: 1rem;
        }
        div{
            width: 45%;
            box-sizing: border-box;
        }
        input{
            box-sizing: border-box;
        }
        button{
            margin-left: 0;
        }
    }
    .modal-content{
        .table-wrap{
            height: auto;
        }
        
    }
}


        // add influencer page


#image-field{
    display: block;
    font-size: 0.9em;
    background-color: white;
    border: 2px solid #EEEEEE;
    padding-left: 10px;
    height: 2.25rem;
    width: 100%;
    color: #777777;
    display: flex;
    align-items: center;
    justify-content: space-between;
    span{
        color: $color-button;
        margin-right: 1rem;
        cursor: pointer;
    }
    #image-name{
        color: #777777;
    }
}
.modal-content{
    .white-btn{
        margin-left: 1.5rem;
    }
}



        // find resto page


.find-resto{
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex;
    .main{
        align-items: center;
        gap: 2rem;
    }
}
.find-form{
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #EEEEEE;
    padding: 2.75rem;
    flex-wrap: wrap;

    div{
        flex-basis: 33%;
        margin-top: auto;
    }
    input{
        width: 100%;
        box-sizing: border-box;
    }
    button{
        margin-top: auto;
        margin-bottom: 0;
    }
}
.cards-field{
    display: flex;
    flex-wrap: wrap;
    gap: 1.25rem;

    width: 100%;
    .card{
        width: 320px;
        height: 167px;
        background-color: white;
        display: flex;
        flex-direction: column;
        padding: 1rem;
        > div:nth-of-type(1){
            display: flex;
            gap: 0.45rem;
            margin-top: auto;
            margin-bottom: 0.45rem;
        }
        &:last-of-type{
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
    .small-bar{
        width: 64px;
        height: 25px;
        border-radius: 25px;
        background-color: $color-background;
    }
    .medium-bar{
        width: 74px;
        height: 25px;
        border-radius: 25px;
        background-color: $color-background;
    }
    .large-bar{
        width: 84px;
        height: 25px;
        border-radius: 25px;
        background-color: $color-background;
    }
    button{
        margin-bottom: 0;
    }
}


        // edit page

.edit{
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    max-width:100%; 
    display: flex;
    .main{
        margin-top: 0;
        padding-top: 5rem;
        margin-left: 14%;
        margin-right: 0;
    }
    .button-field{
        box-sizing: border-box;
        display: flex;
        width: 100%;
        display: flex;
        gap: 2rem;
       padding-right: 1.55rem;
        .white-btn{
            margin-left: auto;
        }
    }
    .grey-bar{
        margin-top: 3rem;
        
        background-color: #EEEEEE;
        min-height: 100px;
        
    }
    thead{
        td{
            background-color: $color-table;
        }

    }
    tr{
        background-color: white;
    }
}

        // details-1 page

.details-1{
    display: flex;
    box-sizing: border-box;
    .main{
        box-sizing: border-box;
        align-items: center;
        justify-content: center;
    }
    form{
        box-sizing: border-box;
        width: calc(100% + 2rem);
        .input-field{
            margin-bottom: 3rem;
            margin-inline: 10rem;
        }
        .line{
            height: 1px;
            width: 100%;
            background-color: #DDD3CA;
        }

    }
    button{
        width: 300px;
        margin-left: auto;
    }
}

        // details-2 page

.details-2{
    box-sizing: border-box;
    width: 100%;
    min-height: 100%;
    height: 100%;
    display: flex;
    form{
        box-sizing: border-box;
        width: calc(100% + 2rem);
        .input-field{
            margin-bottom: 3rem;
            margin-inline: 10rem;
        }
        .line{
            height: 1px;
            width: 100%;
            background-color: #DDD3CA;
        }
    }

    .rating{
        display: flex;
        transform:rotateY(180deg);
        margin-left: 6rem;
        input{
            display: none;
        }    
    }
    .radio{
        display: block;
        cursor: pointer;
        margin-bottom: 2.5rem;
        width: 30px;
        color: #EEEEEE;
    }
    .star{
        display: block;
        cursor: pointer;
        width: 35pt;
    }
    
    .rating input:checked ~ .star:after, 
    .star:hover ~ .star:after,
    .star:hover:after{
        opacity: 1;
    }
    .star:before{
        content: url("data:image/svg+xml; utf8, %0A%3Csvg width='35pt' height='35pt' viewBox='0 0 464.000000 374.000000' xmlns='http://www.w3.org/2000/svg'%3E%3Cg transform='translate(0.000000,374.000000) scale(0.100000,-0.100000)' fill='%23F9F9F9' stroke='none'%3E%3Cpath d='M0 1870 l0 -1870 2320 0 2320 0 0 1870 0 1870 -2320 0 -2320 0 0%0A-1870z m2497 1704 c12 -7 33 -28 46 -46 22 -29 388 -780 439 -900 12 -27 25%0A-48 31 -48 6 0 238 -34 515 -75 l505 -76 36 -19 c39 -20 65 -56 75 -107 l7%0A-32 -16 -33 c-9 -18 -186 -199 -392 -403 l-375 -370 86 -512 c47 -282 86 -531%0A86 -554 l0 -41 -38 -38 -38 -38 -42 -11 -41 -12 -53 27 c-29 15 -244 128 -477%0A252 l-425 225 -75 -38 c-42 -20 -254 -130 -471 -245 -217 -114 -405 -211 -416%0A-214 l-22 -7 -41 17 c-50 20 -98 73 -106 116 l-6 33 91 520 91 520 -379 375%0A-379 375 -12 31 -12 32 11 40 c6 23 24 54 40 70 l29 30 48 11 c26 6 266 43%0A533 82 267 39 485 72 486 73 1 0 101 210 224 466 122 256 232 476 244 489 11%0A13 39 32 61 42 l40 19 35 -6 c19 -3 45 -12 57 -20z' /%3E%3Cpath d='M2400 3505 c0 -8 -6 -15 -13 -15 -8 0 -22 -19 -33 -41 -10 -23 -24%0A-48 -31 -54 -11 -11 -433 -860 -433 -871 0 -2 7 -4 16 -4 l15 0 206 417 c114%0A230 212 423 218 429 6 7 23 37 36 68 13 31 28 56 33 56 5 0 17 -6 25 -14 9 -8%0A117 -222 241 -475 l224 -461 13 0 c7 0 13 5 13 11 0 17 -449 931 -467 951 -9%0A10 -27 18 -40 18 l-23 0 0 -15z' /%3E%3Cpath d='M1833 2503 c-13 -2 -23 -11 -23 -19 l0 -14 19 0 c30 0 51 11 51 26 0%0A14 -6 15 -47 7z' /%3E%3Cpath d='M2960 2497 c0 -16 20 -27 51 -27 l19 0 0 15 c0 8 -6 15 -12 15 -7 0%0A-23 3 -35 6 l-23 6 0 -15z' /%3E%3Cpath d='M1740 2475 l0 -15 30 0 30 0 0 15 0 15 -30 0 -30 0 0 -15z' /%3E%3Cpath d='M3040 2475 l0 -15 30 0 30 0 0 15 0 15 -30 0 -30 0 0 -15z' /%3E%3Cpath d='M1670 2465 l0 -15 30 0 30 0 0 15 0 15 -30 0 -30 0 0 -15z' /%3E%3Cpath d='M3110 2465 l0 -15 30 0 30 0 0 15 0 15 -30 0 -30 0 0 -15z' /%3E%3Cpath d='M1600 2455 l0 -15 30 0 30 0 0 15 0 15 -30 0 -30 0 0 -15z' /%3E%3Cpath d='M3180 2455 l0 -15 30 0 30 0 0 15 0 15 -30 0 -30 0 0 -15z' /%3E%3Cpath d='M1530 2445 l0 -15 30 0 30 0 0 15 0 15 -30 0 -30 0 0 -15z' /%3E%3Cpath d='M3250 2445 l0 -15 30 0 30 0 0 15 0 15 -30 0 -30 0 0 -15z' /%3E%3Cpath d='M1460 2435 l0 -15 30 0 30 0 0 15 0 15 -30 0 -30 0 0 -15z' /%3E%3Cpath d='M3320 2435 l0 -15 30 0 30 0 0 15 0 15 -30 0 -30 0 0 -15z' /%3E%3Cpath d='M1390 2425 l0 -15 30 0 30 0 0 15 0 15 -30 0 -30 0 0 -15z' /%3E%3Cpath d='M3390 2425 l0 -15 30 0 30 0 0 15 0 15 -30 0 -30 0 0 -15z' /%3E%3Cpath d='M1330 2415 l0 -15 25 0 25 0 0 15 0 15 -25 0 -25 0 0 -15z' /%3E%3Cpath d='M3460 2415 l0 -15 25 0 25 0 0 15 0 15 -25 0 -25 0 0 -15z' /%3E%3Cpath d='M1260 2405 l0 -15 25 0 25 0 0 15 0 15 -25 0 -25 0 0 -15z' /%3E%3Cpath d='M3530 2405 l0 -15 25 0 25 0 0 15 0 15 -25 0 -25 0 0 -15z' /%3E%3Cpath d='M1190 2395 l0 -15 25 0 25 0 0 15 0 15 -25 0 -25 0 0 -15z' /%3E%3Cpath d='M3600 2395 l0 -15 25 0 25 0 0 15 0 15 -25 0 -25 0 0 -15z' /%3E%3Cpath d='M1120 2385 l0 -15 25 0 25 0 0 15 0 15 -25 0 -25 0 0 -15z' /%3E%3Cpath d='M3670 2385 l0 -15 25 0 25 0 0 15 0 15 -25 0 -25 0 0 -15z' /%3E%3Cpath d='M1050 2375 l0 -15 25 0 25 0 0 15 0 15 -25 0 -25 0 0 -15z' /%3E%3Cpath d='M3740 2375 l0 -15 25 0 25 0 0 15 0 15 -25 0 -25 0 0 -15z' /%3E%3Cpath d='M980 2365 l0 -15 30 0 30 0 0 15 0 15 -30 0 -30 0 0 -15z' /%3E%3Cpath d='M3800 2365 l0 -15 30 0 30 0 0 15 0 15 -30 0 -30 0 0 -15z' /%3E%3Cpath d='M910 2355 l0 -15 30 0 30 0 0 15 0 15 -30 0 -30 0 0 -15z' /%3E%3Cpath d='M3870 2355 l0 -15 30 0 30 0 0 15 0 15 -30 0 -30 0 0 -15z' /%3E%3Cpath d='M813 2345 l-33 -14 0 -16 c0 -19 19 -19 44 0 11 8 32 15 48 15 l28 0%0A0 15 0 15 -27 0 c-16 -1 -43 -7 -60 -15z' /%3E%3Cpath d='M3940 2345 l0 -15 28 0 c16 0 37 -7 48 -15 25 -19 44 -19 44 1 l0 15%0A-35 15 c-19 7 -46 14 -60 14 l-25 0 0 -15z' /%3E%3Cpath d='M780 2268 c0 -16 311 -328 327 -328 7 0 13 6 13 13 0 16 -312 327%0A-328 327 -7 0 -12 -5 -12 -12z' /%3E%3Cpath d='M3877 2122 c-86 -86 -157 -163 -157 -169 0 -7 6 -13 13 -13 16 0 327%0A312 327 328 0 7 -6 12 -12 12 -7 0 -84 -71 -171 -158z' /%3E%3Cpath d='M1220 1837 c0 -7 70 -82 155 -167 85 -84 157 -161 161 -172 3 -10 12%0A-18 20 -18 l14 0 0 21 0 22 -162 163 c-89 90 -168 164 -175 164 -7 0 -13 -6%0A-13 -13z' /%3E%3Cpath d='M3437 1692 c-86 -87 -157 -164 -157 -170 0 -7 5 -12 12 -12 16 0 328%0A311 328 327 0 7 -6 13 -13 13 -7 0 -83 -71 -170 -158z' /%3E%3Cpath d='M3260 1455 l0 -45 15 0 15 0 0 45 0 45 -15 0 -15 0 0 -45z' /%3E%3Cpath d='M1550 1440 l0 -30 15 0 15 0 0 30 0 30 -15 0 -15 0 0 -30z' /%3E%3Cpath d='M1540 1375 l0 -25 15 0 15 0 0 25 0 25 -15 0 -15 0 0 -25z' /%3E%3Cpath d='M3270 1375 l0 -25 15 0 15 0 0 25 0 25 -15 0 -15 0 0 -25z' /%3E%3Cpath d='M1530 1315 l0 -25 15 0 15 0 0 25 0 25 -15 0 -15 0 0 -25z' /%3E%3Cpath d='M3280 1315 l0 -25 15 0 15 0 0 25 0 25 -15 0 -15 0 0 -25z' /%3E%3Cpath d='M1520 1255 l0 -25 15 0 15 0 0 25 0 25 -15 0 -15 0 0 -25z' /%3E%3Cpath d='M3290 1255 l0 -25 15 0 15 0 0 25 0 25 -15 0 -15 0 0 -25z' /%3E%3Cpath d='M1510 1200 l0 -20 15 0 15 0 0 20 0 20 -15 0 -15 0 0 -20z' /%3E%3Cpath d='M3300 1195 l0 -25 15 0 15 0 0 25 0 25 -15 0 -15 0 0 -25z' /%3E%3Cpath d='M1500 1145 l0 -25 15 0 15 0 0 25 0 25 -15 0 -15 0 0 -25z' /%3E%3Cpath d='M3310 1135 l0 -25 15 0 15 0 0 25 0 25 -15 0 -15 0 0 -25z' /%3E%3Cpath d='M1490 1085 l0 -25 15 0 15 0 0 25 0 25 -15 0 -15 0 0 -25z' /%3E%3Cpath d='M3320 1075 l0 -25 15 0 15 0 0 25 0 25 -15 0 -15 0 0 -25z' /%3E%3Cpath d='M1480 1025 l0 -25 15 0 15 0 0 25 0 25 -15 0 -15 0 0 -25z' /%3E%3Cpath d='M3330 1015 l0 -25 15 0 15 0 0 25 0 25 -15 0 -15 0 0 -25z' /%3E%3Cpath d='M1470 965 l0 -25 15 0 15 0 0 25 0 25 -15 0 -15 0 0 -25z' /%3E%3Cpath d='M3340 955 l0 -25 15 0 15 0 0 25 0 25 -15 0 -15 0 0 -25z' /%3E%3Cpath d='M1460 905 l0 -25 15 0 15 0 0 25 0 25 -15 0 -15 0 0 -25z' /%3E%3Cpath d='M3350 895 l0 -25 15 0 15 0 0 25 0 25 -15 0 -15 0 0 -25z' /%3E%3Cpath d='M1450 845 l0 -25 15 0 15 0 0 25 0 25 -15 0 -15 0 0 -25z' /%3E%3Cpath d='M2350 851 c-25 -10 -209 -105 -409 -211 -201 -105 -396 -207 -434%0A-227 l-70 -35 -23 13 c-13 7 -27 9 -31 5 -14 -13 14 -41 44 -44 l29 -3 439%0A231 c242 126 459 237 482 246 l42 16 23 -5 c13 -4 228 -114 478 -247 l455%0A-240 27 0 c35 0 58 24 58 61 l0 29 -14 0 -15 0 -3 -27 -3 -28 -18 -3 -17 -3%0A-457 242 -458 242 -40 3 -40 4 -45 -19z' /%3E%3Cpath d='M3360 835 l0 -25 15 0 15 0 0 25 0 25 -15 0 -15 0 0 -25z' /%3E%3Cpath d='M1440 785 l0 -25 15 0 15 0 0 25 0 25 -15 0 -15 0 0 -25z' /%3E%3Cpath d='M3370 775 l0 -25 15 0 15 0 0 25 0 25 -15 0 -15 0 0 -25z' /%3E%3Cpath d='M1430 725 l0 -25 15 0 15 0 0 25 0 25 -15 0 -15 0 0 -25z' /%3E%3Cpath d='M3380 715 l0 -25 15 0 15 0 0 25 0 25 -15 0 -15 0 0 -25z' /%3E%3Cpath d='M1420 665 l0 -25 15 0 15 0 0 25 0 25 -15 0 -15 0 0 -25z' /%3E%3Cpath d='M3390 655 l0 -25 15 0 15 0 0 25 0 25 -15 0 -15 0 0 -25z' /%3E%3Cpath d='M1410 605 l0 -25 15 0 15 0 0 25 0 25 -15 0 -15 0 0 -25z' /%3E%3Cpath d='M3400 595 l0 -25 15 0 15 0 0 25 0 25 -15 0 -15 0 0 -25z' /%3E%3Cpath d='M1400 545 l0 -25 15 0 15 0 0 25 0 25 -15 0 -15 0 0 -25z' /%3E%3Cpath d='M3410 535 l0 -25 15 0 15 0 0 25 0 25 -15 0 -15 0 0 -25z' /%3E%3Cpath d='M1390 485 l0 -25 15 0 15 0 0 25 0 25 -15 0 -15 0 0 -25z' /%3E%3Cpath d='M3420 475 l0 -25 15 0 15 0 0 25 0 25 -15 0 -15 0 0 -25z' /%3E%3Cpath d='M1380 430 l0 -20 15 0 15 0 0 20 0 20 -15 0 -15 0 0 -20z' /%3E%3C/g%3E%3Cg transform='translate(0.000000,374.000000) scale(0.100000,-0.100000)' fill='white' stroke='none'%3E%3Cpath d='M2414 3511 c3 -5 -2 -8 -12 -7 l-17 1 1 -17 2 -18 -11 7 -10 6 6 -17%0Ac4 -9 3 -15 -2 -12 -11 7 -33 -43 -25 -56 l7 -11 -13 8 -13 8 6 -17 7 -18 -13%0A5 -13 5 -52 -105 c-29 -57 -50 -108 -47 -113 7 -12 -6 -41 -16 -34 l-9 5 7%0A-17 6 -17 -11 7 -12 7 7 -17 6 -17 -11 7 -12 7 7 -17 6 -17 -13 8 -13 8 6 -11%0Ac8 -12 -2 -44 -12 -38 -8 5 -236 -448 -236 -469 0 -8 -5 -15 -10 -16 -16 -1%0A-45 -31 -39 -40 l5 -9 -17 7 -17 6 7 -12 8 -12 -37 7 -38 7 8 -13 8 -12 -43 7%0A-43 7 8 -12 8 -12 -43 7 -43 7 8 -12 8 -12 -43 7 -43 7 8 -12 8 -12 -43 7 -43%0A7 8 -12 8 -12 -43 7 -43 7 8 -12 8 -12 -43 7 -43 7 7 -11 7 -11 -42 6 -42 7 7%0A-12 7 -11 -42 6 -42 7 7 -12 7 -11 -42 6 -42 7 7 -12 7 -11 -42 6 -42 7 7 -12%0A8 -12 -37 7 -38 7 8 -13 8 -12 -43 7 -43 7 8 -12 8 -12 -43 7 -43 7 8 -12 8%0A-13 -33 7 -33 6 -24 -15 -23 -15 0 -31 0 -30 10 6 10 6 -7 -17 -6 -17 15 5 15%0A6 149 -151 149 -152 -155 150 -155 150 205 -208 c113 -114 210 -205 216 -203%0A6 2 78 -64 160 -147 l149 -152 -155 150 -155 150 154 -157 c85 -86 158 -155%0A162 -153 11 8 17 -19 12 -50 l-6 -28 12 7 11 7 0 -21 0 -21 -11 7 -12 7 7 -38%0A7 -37 -12 7 -12 8 7 -38 7 -37 -12 7 -12 8 7 -38 7 -37 -12 8 -12 7 6 -32 7%0A-32 -12 7 -11 7 7 -38 7 -37 -12 7 -12 8 7 -38 7 -37 -12 7 -12 8 7 -38 7 -37%0A-12 7 -12 8 7 -38 7 -37 -12 7 -12 8 7 -38 7 -37 -12 7 -12 8 7 -38 7 -37 -12%0A7 -12 8 7 -38 7 -37 -12 7 -12 8 7 -38 7 -37 -12 7 -12 8 7 -38 7 -37 -12 7%0A-12 8 7 -38 7 -37 -12 7 -12 8 7 -38 7 -37 -12 7 -12 8 7 -38 7 -37 -12 8 -12%0A7 6 -32 7 -32 -10 6 -10 6 0 -24 c0 -14 8 -31 18 -38 l17 -14 -15 19 -15 19%0A22 -13 c12 -8 19 -18 17 -22 -3 -4 2 -8 11 -8 9 0 14 4 11 8 -3 5 11 16 30 26%0A20 9 32 12 29 6 -4 -6 34 9 84 35 50 25 91 48 91 51 0 3 -5 2 -10 -1 -5 -3%0A-10 -4 -10 -1 0 3 14 13 31 22 l31 16 -7 -12 c-4 -6 30 7 74 30 45 22 81 43%0A81 46 0 3 -5 2 -10 -1 -6 -3 -10 -4 -10 -1 0 3 14 13 31 22 l31 16 -7 -12 c-4%0A-6 34 9 84 35 50 25 91 48 91 51 0 3 -4 2 -10 -1 -6 -3 -10 -4 -10 -1 0 3 14%0A13 31 22 l31 16 -7 -12 c-4 -6 30 7 74 30 45 22 81 43 81 46 0 3 -4 2 -10 -1%0A-6 -3 -10 -4 -10 -1 0 3 14 13 31 22 17 8 28 11 25 5 l-7 -11 15 6 16 6 -7 11%0A-6 10 16 -6 c22 -8 49 2 41 15 l-7 10 23 -7 23 -7 -7 11 -7 11 26 0 26 0 -7%0A-11 -7 -11 23 7 23 7 -6 -9 c-4 -6 5 -15 19 -22 l25 -11 -6 11 c-4 6 7 3 24%0A-5 17 -9 31 -19 31 -22 0 -3 -4 -2 -10 1 -5 3 -10 4 -10 1 0 -3 32 -22 71 -41%0A39 -20 68 -31 64 -25 l-7 12 31 -16 c17 -9 31 -19 31 -22 0 -3 -4 -2 -10 1 -5%0A3 -10 4 -10 1 0 -3 32 -22 71 -41 39 -20 68 -31 64 -25 l-7 12 31 -16 c17 -9%0A31 -19 31 -22 0 -3 -4 -2 -10 1 -5 3 -10 4 -10 1 0 -3 32 -22 71 -41 39 -20%0A68 -31 64 -25 l-7 12 31 -16 c17 -9 31 -19 31 -22 0 -3 -4 -2 -10 1 -5 3 -10%0A4 -10 1 0 -3 32 -22 71 -41 39 -20 68 -31 64 -25 l-7 12 31 -16 c17 -9 31 -19%0A31 -22 0 -3 -4 -2 -10 1 -5 3 -10 4 -10 1 0 -3 37 -24 82 -47 l82 -41 25 8 24%0A9 3 53 3 52 -10 -6 -10 -6 7 37 7 38 -12 -8 -12 -7 7 37 7 38 -12 -8 -12 -7 7%0A37 7 38 -12 -8 -12 -7 7 37 7 38 -12 -8 -12 -7 7 37 7 38 -12 -8 -12 -7 7 37%0A7 38 -12 -8 -12 -7 7 37 7 38 -12 -8 -12 -7 7 37 7 38 -12 -8 -12 -7 7 37 7%0A38 -12 -8 -12 -7 7 37 7 38 -12 -8 -12 -7 7 37 7 38 -12 -8 -12 -7 7 37 7 38%0A-12 -8 -12 -7 7 37 7 38 -12 -8 -12 -7 7 37 7 38 -12 -8 -12 -7 7 37 7 38 -12%0A-8 -12 -7 7 37 7 38 -12 -7 -11 -7 0 36 0 36 9 -5 c11 -7 23 22 14 36 l-6 11%0A10 -6 c5 -3 79 65 164 151 l154 157 -155 -150 -155 -150 149 152 c82 83 154%0A149 160 147 6 -2 103 89 216 203 l205 208 -155 -150 -155 -150 149 152 149%0A151 15 -6 15 -5 -6 17 -7 17 10 -6 10 -6 0 30 0 31 -23 15 -24 15 -33 -6 -33%0A-7 8 13 8 12 -43 -7 -43 -7 8 12 8 12 -43 -7 -43 -7 8 12 8 13 -38 -7 -37 -7%0A8 12 7 12 -42 -7 -42 -6 7 11 7 12 -42 -7 -42 -6 7 11 7 12 -42 -7 -42 -6 7%0A11 7 12 -42 -7 -42 -6 7 11 7 11 -43 -7 -43 -7 8 12 8 12 -43 -7 -43 -7 8 12%0A8 12 -43 -7 -43 -7 8 12 8 12 -43 -7 -43 -7 8 12 8 12 -43 -7 -43 -7 8 12 8%0A12 -43 -7 -43 -7 8 12 8 13 -38 -7 -37 -7 8 12 7 12 -17 -6 c-9 -4 -15 -3 -12%0A2 7 11 -48 63 -58 54 -4 -4 -4 1 0 11 l7 19 -13 -8 -13 -8 7 11 c8 13 -34 103%0A-45 97 -10 -7 -20 25 -12 37 l6 11 -13 -8 -13 -8 6 17 7 17 -9 -5 c-10 -7 -23%0A22 -16 34 7 11 -177 380 -186 374 -10 -6 -20 26 -12 38 l6 11 -13 -8 -13 -8 6%0A17 7 17 -9 -5 c-11 -7 -23 22 -16 34 7 12 -101 228 -128 258 -19 21 -54 32%0A-43 13z m41 -21 c10 -11 16 -20 13 -20 -3 0 -13 9 -23 20 -10 11 -16 20 -13%0A20 3 0 13 -9 23 -20z m-1645 -1164 c0 -3 -5 -8 -12 -12 l-11 -7 7 11 c7 12 16%0A16 16 8z m3235 -6 c3 -5 4 -10 1 -10 -3 0 -8 5 -11 10 -3 6 -4 10 -1 10 3 0 8%0A-4 11 -10z' /%3E%3C/g%3E%3Cg transform='translate(0.000000,374.000000) scale(0.100000,-0.100000)' fill='%23DDD3CA' stroke='none'%3E%3Cpath d='M2355 3591 c-22 -10 -50 -29 -61 -42 -12 -13 -122 -233 -244 -489%0A-123 -256 -223 -466 -224 -466 -1 -1 -232 -36 -514 -78 l-513 -76 -34 -16%0Ac-41 -19 -72 -65 -81 -120 l-6 -41 17 -34 c10 -19 185 -200 391 -404 l373%0A-370 -91 -517 -90 -517 6 -36 c4 -19 20 -51 37 -70 l30 -34 44 -17 44 -16 28%0A7 c15 3 201 98 413 210 212 111 421 221 465 243 l80 40 470 -249 c258 -137%0A476 -249 485 -249 8 0 33 5 55 11 l40 11 37 38 38 38 0 53 c0 30 -38 279 -85%0A554 l-84 500 373 370 374 370 17 34 17 34 -6 40 c-9 57 -35 96 -77 118 l-37%0A18 -513 77 c-283 42 -514 77 -515 78 -1 0 -72 150 -159 331 -87 182 -187 389%0A-222 462 -35 73 -77 148 -94 167 l-31 36 -36 10 c-51 14 -71 12 -117 -9z m98%0A-99 c9 -9 118 -227 243 -482 125 -256 234 -473 243 -483 9 -11 23 -23 33 -28%0A9 -5 246 -42 526 -83 280 -41 519 -79 531 -85 l21 -12 0 -27 0 -28 -167 -164%0Ac-93 -91 -266 -261 -385 -379 l-218 -215 0 -43 c0 -24 38 -273 85 -553 47%0A-280 82 -516 79 -524 -3 -9 -16 -19 -29 -22 l-22 -6 -69 35 c-38 19 -244 128%0A-459 242 -214 114 -405 209 -423 212 l-32 6 -43 -17 c-23 -9 -240 -120 -481%0A-246 l-440 -231 -19 3 c-11 2 -24 10 -30 19 l-10 16 87 514 c47 283 86 525 86%0A538 0 14 -5 38 -12 55 l-12 31 -373 364 -373 364 0 28 0 28 21 12 c12 6 251%0A44 532 85 l511 74 24 16 24 16 210 426 c116 235 213 429 218 432 4 3 17 25 30%0A50 26 53 48 80 65 80 7 0 19 -8 28 -18z' /%3E%3C/g%3E%3C/svg%3E");
        display: block;
        position: relative;
        z-index: 1;
    }
    
    .star:after{
        content: url("data:image/svg+xml; utf8, %0A%3Csvg width='35pt' height='35pt' viewBox='0 0 464.000000 374.000000' xmlns='http://www.w3.org/2000/svg'%3E%3Cg transform='translate(0.000000,374.000000) scale(0.100000,-0.100000)' fill='%23F9F9F9' stroke='none'%3E%3Cpath d='M0 1870 l0 -1870 2320 0 2320 0 0 1870 0 1870 -2320 0 -2320 0 0%0A-1870z m2497 1704 c12 -7 33 -28 46 -46 22 -29 388 -780 439 -900 12 -27 25%0A-48 31 -48 6 0 238 -34 515 -75 l505 -76 36 -19 c39 -20 65 -56 75 -107 l7%0A-32 -16 -33 c-9 -18 -186 -199 -392 -403 l-375 -370 86 -512 c47 -282 86 -531%0A86 -554 l0 -41 -38 -38 -38 -38 -42 -11 -41 -12 -53 27 c-29 15 -244 128 -477%0A252 l-425 225 -75 -38 c-42 -20 -254 -130 -471 -245 -217 -114 -405 -211 -416%0A-214 l-22 -7 -41 17 c-50 20 -98 73 -106 116 l-6 33 91 520 91 520 -379 375%0A-379 375 -12 31 -12 32 11 40 c6 23 24 54 40 70 l29 30 48 11 c26 6 266 43%0A533 82 267 39 485 72 486 73 1 0 101 210 224 466 122 256 232 476 244 489 11%0A13 39 32 61 42 l40 19 35 -6 c19 -3 45 -12 57 -20z' /%3E%3Cpath d='M2400 3505 c0 -8 -6 -15 -13 -15 -8 0 -22 -19 -33 -41 -10 -23 -24%0A-48 -31 -54 -11 -11 -433 -860 -433 -871 0 -2 7 -4 16 -4 l15 0 206 417 c114%0A230 212 423 218 429 6 7 23 37 36 68 13 31 28 56 33 56 5 0 17 -6 25 -14 9 -8%0A117 -222 241 -475 l224 -461 13 0 c7 0 13 5 13 11 0 17 -449 931 -467 951 -9%0A10 -27 18 -40 18 l-23 0 0 -15z' /%3E%3Cpath d='M1833 2503 c-13 -2 -23 -11 -23 -19 l0 -14 19 0 c30 0 51 11 51 26 0%0A14 -6 15 -47 7z' /%3E%3Cpath d='M2960 2497 c0 -16 20 -27 51 -27 l19 0 0 15 c0 8 -6 15 -12 15 -7 0%0A-23 3 -35 6 l-23 6 0 -15z' /%3E%3Cpath d='M1740 2475 l0 -15 30 0 30 0 0 15 0 15 -30 0 -30 0 0 -15z' /%3E%3Cpath d='M3040 2475 l0 -15 30 0 30 0 0 15 0 15 -30 0 -30 0 0 -15z' /%3E%3Cpath d='M1670 2465 l0 -15 30 0 30 0 0 15 0 15 -30 0 -30 0 0 -15z' /%3E%3Cpath d='M3110 2465 l0 -15 30 0 30 0 0 15 0 15 -30 0 -30 0 0 -15z' /%3E%3Cpath d='M1600 2455 l0 -15 30 0 30 0 0 15 0 15 -30 0 -30 0 0 -15z' /%3E%3Cpath d='M3180 2455 l0 -15 30 0 30 0 0 15 0 15 -30 0 -30 0 0 -15z' /%3E%3Cpath d='M1530 2445 l0 -15 30 0 30 0 0 15 0 15 -30 0 -30 0 0 -15z' /%3E%3Cpath d='M3250 2445 l0 -15 30 0 30 0 0 15 0 15 -30 0 -30 0 0 -15z' /%3E%3Cpath d='M1460 2435 l0 -15 30 0 30 0 0 15 0 15 -30 0 -30 0 0 -15z' /%3E%3Cpath d='M3320 2435 l0 -15 30 0 30 0 0 15 0 15 -30 0 -30 0 0 -15z' /%3E%3Cpath d='M1390 2425 l0 -15 30 0 30 0 0 15 0 15 -30 0 -30 0 0 -15z' /%3E%3Cpath d='M3390 2425 l0 -15 30 0 30 0 0 15 0 15 -30 0 -30 0 0 -15z' /%3E%3Cpath d='M1330 2415 l0 -15 25 0 25 0 0 15 0 15 -25 0 -25 0 0 -15z' /%3E%3Cpath d='M3460 2415 l0 -15 25 0 25 0 0 15 0 15 -25 0 -25 0 0 -15z' /%3E%3Cpath d='M1260 2405 l0 -15 25 0 25 0 0 15 0 15 -25 0 -25 0 0 -15z' /%3E%3Cpath d='M3530 2405 l0 -15 25 0 25 0 0 15 0 15 -25 0 -25 0 0 -15z' /%3E%3Cpath d='M1190 2395 l0 -15 25 0 25 0 0 15 0 15 -25 0 -25 0 0 -15z' /%3E%3Cpath d='M3600 2395 l0 -15 25 0 25 0 0 15 0 15 -25 0 -25 0 0 -15z' /%3E%3Cpath d='M1120 2385 l0 -15 25 0 25 0 0 15 0 15 -25 0 -25 0 0 -15z' /%3E%3Cpath d='M3670 2385 l0 -15 25 0 25 0 0 15 0 15 -25 0 -25 0 0 -15z' /%3E%3Cpath d='M1050 2375 l0 -15 25 0 25 0 0 15 0 15 -25 0 -25 0 0 -15z' /%3E%3Cpath d='M3740 2375 l0 -15 25 0 25 0 0 15 0 15 -25 0 -25 0 0 -15z' /%3E%3Cpath d='M980 2365 l0 -15 30 0 30 0 0 15 0 15 -30 0 -30 0 0 -15z' /%3E%3Cpath d='M3800 2365 l0 -15 30 0 30 0 0 15 0 15 -30 0 -30 0 0 -15z' /%3E%3Cpath d='M910 2355 l0 -15 30 0 30 0 0 15 0 15 -30 0 -30 0 0 -15z' /%3E%3Cpath d='M3870 2355 l0 -15 30 0 30 0 0 15 0 15 -30 0 -30 0 0 -15z' /%3E%3Cpath d='M813 2345 l-33 -14 0 -16 c0 -19 19 -19 44 0 11 8 32 15 48 15 l28 0%0A0 15 0 15 -27 0 c-16 -1 -43 -7 -60 -15z' /%3E%3Cpath d='M3940 2345 l0 -15 28 0 c16 0 37 -7 48 -15 25 -19 44 -19 44 1 l0 15%0A-35 15 c-19 7 -46 14 -60 14 l-25 0 0 -15z' /%3E%3Cpath d='M780 2268 c0 -16 311 -328 327 -328 7 0 13 6 13 13 0 16 -312 327%0A-328 327 -7 0 -12 -5 -12 -12z' /%3E%3Cpath d='M3877 2122 c-86 -86 -157 -163 -157 -169 0 -7 6 -13 13 -13 16 0 327%0A312 327 328 0 7 -6 12 -12 12 -7 0 -84 -71 -171 -158z' /%3E%3Cpath d='M1220 1837 c0 -7 70 -82 155 -167 85 -84 157 -161 161 -172 3 -10 12%0A-18 20 -18 l14 0 0 21 0 22 -162 163 c-89 90 -168 164 -175 164 -7 0 -13 -6%0A-13 -13z' /%3E%3Cpath d='M3437 1692 c-86 -87 -157 -164 -157 -170 0 -7 5 -12 12 -12 16 0 328%0A311 328 327 0 7 -6 13 -13 13 -7 0 -83 -71 -170 -158z' /%3E%3Cpath d='M3260 1455 l0 -45 15 0 15 0 0 45 0 45 -15 0 -15 0 0 -45z' /%3E%3Cpath d='M1550 1440 l0 -30 15 0 15 0 0 30 0 30 -15 0 -15 0 0 -30z' /%3E%3Cpath d='M1540 1375 l0 -25 15 0 15 0 0 25 0 25 -15 0 -15 0 0 -25z' /%3E%3Cpath d='M3270 1375 l0 -25 15 0 15 0 0 25 0 25 -15 0 -15 0 0 -25z' /%3E%3Cpath d='M1530 1315 l0 -25 15 0 15 0 0 25 0 25 -15 0 -15 0 0 -25z' /%3E%3Cpath d='M3280 1315 l0 -25 15 0 15 0 0 25 0 25 -15 0 -15 0 0 -25z' /%3E%3Cpath d='M1520 1255 l0 -25 15 0 15 0 0 25 0 25 -15 0 -15 0 0 -25z' /%3E%3Cpath d='M3290 1255 l0 -25 15 0 15 0 0 25 0 25 -15 0 -15 0 0 -25z' /%3E%3Cpath d='M1510 1200 l0 -20 15 0 15 0 0 20 0 20 -15 0 -15 0 0 -20z' /%3E%3Cpath d='M3300 1195 l0 -25 15 0 15 0 0 25 0 25 -15 0 -15 0 0 -25z' /%3E%3Cpath d='M1500 1145 l0 -25 15 0 15 0 0 25 0 25 -15 0 -15 0 0 -25z' /%3E%3Cpath d='M3310 1135 l0 -25 15 0 15 0 0 25 0 25 -15 0 -15 0 0 -25z' /%3E%3Cpath d='M1490 1085 l0 -25 15 0 15 0 0 25 0 25 -15 0 -15 0 0 -25z' /%3E%3Cpath d='M3320 1075 l0 -25 15 0 15 0 0 25 0 25 -15 0 -15 0 0 -25z' /%3E%3Cpath d='M1480 1025 l0 -25 15 0 15 0 0 25 0 25 -15 0 -15 0 0 -25z' /%3E%3Cpath d='M3330 1015 l0 -25 15 0 15 0 0 25 0 25 -15 0 -15 0 0 -25z' /%3E%3Cpath d='M1470 965 l0 -25 15 0 15 0 0 25 0 25 -15 0 -15 0 0 -25z' /%3E%3Cpath d='M3340 955 l0 -25 15 0 15 0 0 25 0 25 -15 0 -15 0 0 -25z' /%3E%3Cpath d='M1460 905 l0 -25 15 0 15 0 0 25 0 25 -15 0 -15 0 0 -25z' /%3E%3Cpath d='M3350 895 l0 -25 15 0 15 0 0 25 0 25 -15 0 -15 0 0 -25z' /%3E%3Cpath d='M1450 845 l0 -25 15 0 15 0 0 25 0 25 -15 0 -15 0 0 -25z' /%3E%3Cpath d='M2350 851 c-25 -10 -209 -105 -409 -211 -201 -105 -396 -207 -434%0A-227 l-70 -35 -23 13 c-13 7 -27 9 -31 5 -14 -13 14 -41 44 -44 l29 -3 439%0A231 c242 126 459 237 482 246 l42 16 23 -5 c13 -4 228 -114 478 -247 l455%0A-240 27 0 c35 0 58 24 58 61 l0 29 -14 0 -15 0 -3 -27 -3 -28 -18 -3 -17 -3%0A-457 242 -458 242 -40 3 -40 4 -45 -19z' /%3E%3Cpath d='M3360 835 l0 -25 15 0 15 0 0 25 0 25 -15 0 -15 0 0 -25z' /%3E%3Cpath d='M1440 785 l0 -25 15 0 15 0 0 25 0 25 -15 0 -15 0 0 -25z' /%3E%3Cpath d='M3370 775 l0 -25 15 0 15 0 0 25 0 25 -15 0 -15 0 0 -25z' /%3E%3Cpath d='M1430 725 l0 -25 15 0 15 0 0 25 0 25 -15 0 -15 0 0 -25z' /%3E%3Cpath d='M3380 715 l0 -25 15 0 15 0 0 25 0 25 -15 0 -15 0 0 -25z' /%3E%3Cpath d='M1420 665 l0 -25 15 0 15 0 0 25 0 25 -15 0 -15 0 0 -25z' /%3E%3Cpath d='M3390 655 l0 -25 15 0 15 0 0 25 0 25 -15 0 -15 0 0 -25z' /%3E%3Cpath d='M1410 605 l0 -25 15 0 15 0 0 25 0 25 -15 0 -15 0 0 -25z' /%3E%3Cpath d='M3400 595 l0 -25 15 0 15 0 0 25 0 25 -15 0 -15 0 0 -25z' /%3E%3Cpath d='M1400 545 l0 -25 15 0 15 0 0 25 0 25 -15 0 -15 0 0 -25z' /%3E%3Cpath d='M3410 535 l0 -25 15 0 15 0 0 25 0 25 -15 0 -15 0 0 -25z' /%3E%3Cpath d='M1390 485 l0 -25 15 0 15 0 0 25 0 25 -15 0 -15 0 0 -25z' /%3E%3Cpath d='M3420 475 l0 -25 15 0 15 0 0 25 0 25 -15 0 -15 0 0 -25z' /%3E%3Cpath d='M1380 430 l0 -20 15 0 15 0 0 20 0 20 -15 0 -15 0 0 -20z' /%3E%3C/g%3E%3Cg transform='translate(0.000000,374.000000) scale(0.100000,-0.100000)' fill='white' stroke='none'%3E%3Cpath d='M2414 3511 c3 -5 -2 -8 -12 -7 l-17 1 1 -17 2 -18 -11 7 -10 6 6 -17%0Ac4 -9 3 -15 -2 -12 -11 7 -33 -43 -25 -56 l7 -11 -13 8 -13 8 6 -17 7 -18 -13%0A5 -13 5 -52 -105 c-29 -57 -50 -108 -47 -113 7 -12 -6 -41 -16 -34 l-9 5 7%0A-17 6 -17 -11 7 -12 7 7 -17 6 -17 -11 7 -12 7 7 -17 6 -17 -13 8 -13 8 6 -11%0Ac8 -12 -2 -44 -12 -38 -8 5 -236 -448 -236 -469 0 -8 -5 -15 -10 -16 -16 -1%0A-45 -31 -39 -40 l5 -9 -17 7 -17 6 7 -12 8 -12 -37 7 -38 7 8 -13 8 -12 -43 7%0A-43 7 8 -12 8 -12 -43 7 -43 7 8 -12 8 -12 -43 7 -43 7 8 -12 8 -12 -43 7 -43%0A7 8 -12 8 -12 -43 7 -43 7 8 -12 8 -12 -43 7 -43 7 7 -11 7 -11 -42 6 -42 7 7%0A-12 7 -11 -42 6 -42 7 7 -12 7 -11 -42 6 -42 7 7 -12 7 -11 -42 6 -42 7 7 -12%0A8 -12 -37 7 -38 7 8 -13 8 -12 -43 7 -43 7 8 -12 8 -12 -43 7 -43 7 8 -12 8%0A-13 -33 7 -33 6 -24 -15 -23 -15 0 -31 0 -30 10 6 10 6 -7 -17 -6 -17 15 5 15%0A6 149 -151 149 -152 -155 150 -155 150 205 -208 c113 -114 210 -205 216 -203%0A6 2 78 -64 160 -147 l149 -152 -155 150 -155 150 154 -157 c85 -86 158 -155%0A162 -153 11 8 17 -19 12 -50 l-6 -28 12 7 11 7 0 -21 0 -21 -11 7 -12 7 7 -38%0A7 -37 -12 7 -12 8 7 -38 7 -37 -12 7 -12 8 7 -38 7 -37 -12 8 -12 7 6 -32 7%0A-32 -12 7 -11 7 7 -38 7 -37 -12 7 -12 8 7 -38 7 -37 -12 7 -12 8 7 -38 7 -37%0A-12 7 -12 8 7 -38 7 -37 -12 7 -12 8 7 -38 7 -37 -12 7 -12 8 7 -38 7 -37 -12%0A7 -12 8 7 -38 7 -37 -12 7 -12 8 7 -38 7 -37 -12 7 -12 8 7 -38 7 -37 -12 7%0A-12 8 7 -38 7 -37 -12 7 -12 8 7 -38 7 -37 -12 7 -12 8 7 -38 7 -37 -12 8 -12%0A7 6 -32 7 -32 -10 6 -10 6 0 -24 c0 -14 8 -31 18 -38 l17 -14 -15 19 -15 19%0A22 -13 c12 -8 19 -18 17 -22 -3 -4 2 -8 11 -8 9 0 14 4 11 8 -3 5 11 16 30 26%0A20 9 32 12 29 6 -4 -6 34 9 84 35 50 25 91 48 91 51 0 3 -5 2 -10 -1 -5 -3%0A-10 -4 -10 -1 0 3 14 13 31 22 l31 16 -7 -12 c-4 -6 30 7 74 30 45 22 81 43%0A81 46 0 3 -5 2 -10 -1 -6 -3 -10 -4 -10 -1 0 3 14 13 31 22 l31 16 -7 -12 c-4%0A-6 34 9 84 35 50 25 91 48 91 51 0 3 -4 2 -10 -1 -6 -3 -10 -4 -10 -1 0 3 14%0A13 31 22 l31 16 -7 -12 c-4 -6 30 7 74 30 45 22 81 43 81 46 0 3 -4 2 -10 -1%0A-6 -3 -10 -4 -10 -1 0 3 14 13 31 22 17 8 28 11 25 5 l-7 -11 15 6 16 6 -7 11%0A-6 10 16 -6 c22 -8 49 2 41 15 l-7 10 23 -7 23 -7 -7 11 -7 11 26 0 26 0 -7%0A-11 -7 -11 23 7 23 7 -6 -9 c-4 -6 5 -15 19 -22 l25 -11 -6 11 c-4 6 7 3 24%0A-5 17 -9 31 -19 31 -22 0 -3 -4 -2 -10 1 -5 3 -10 4 -10 1 0 -3 32 -22 71 -41%0A39 -20 68 -31 64 -25 l-7 12 31 -16 c17 -9 31 -19 31 -22 0 -3 -4 -2 -10 1 -5%0A3 -10 4 -10 1 0 -3 32 -22 71 -41 39 -20 68 -31 64 -25 l-7 12 31 -16 c17 -9%0A31 -19 31 -22 0 -3 -4 -2 -10 1 -5 3 -10 4 -10 1 0 -3 32 -22 71 -41 39 -20%0A68 -31 64 -25 l-7 12 31 -16 c17 -9 31 -19 31 -22 0 -3 -4 -2 -10 1 -5 3 -10%0A4 -10 1 0 -3 32 -22 71 -41 39 -20 68 -31 64 -25 l-7 12 31 -16 c17 -9 31 -19%0A31 -22 0 -3 -4 -2 -10 1 -5 3 -10 4 -10 1 0 -3 37 -24 82 -47 l82 -41 25 8 24%0A9 3 53 3 52 -10 -6 -10 -6 7 37 7 38 -12 -8 -12 -7 7 37 7 38 -12 -8 -12 -7 7%0A37 7 38 -12 -8 -12 -7 7 37 7 38 -12 -8 -12 -7 7 37 7 38 -12 -8 -12 -7 7 37%0A7 38 -12 -8 -12 -7 7 37 7 38 -12 -8 -12 -7 7 37 7 38 -12 -8 -12 -7 7 37 7%0A38 -12 -8 -12 -7 7 37 7 38 -12 -8 -12 -7 7 37 7 38 -12 -8 -12 -7 7 37 7 38%0A-12 -8 -12 -7 7 37 7 38 -12 -8 -12 -7 7 37 7 38 -12 -8 -12 -7 7 37 7 38 -12%0A-8 -12 -7 7 37 7 38 -12 -7 -11 -7 0 36 0 36 9 -5 c11 -7 23 22 14 36 l-6 11%0A10 -6 c5 -3 79 65 164 151 l154 157 -155 -150 -155 -150 149 152 c82 83 154%0A149 160 147 6 -2 103 89 216 203 l205 208 -155 -150 -155 -150 149 152 149%0A151 15 -6 15 -5 -6 17 -7 17 10 -6 10 -6 0 30 0 31 -23 15 -24 15 -33 -6 -33%0A-7 8 13 8 12 -43 -7 -43 -7 8 12 8 12 -43 -7 -43 -7 8 12 8 13 -38 -7 -37 -7%0A8 12 7 12 -42 -7 -42 -6 7 11 7 12 -42 -7 -42 -6 7 11 7 12 -42 -7 -42 -6 7%0A11 7 12 -42 -7 -42 -6 7 11 7 11 -43 -7 -43 -7 8 12 8 12 -43 -7 -43 -7 8 12%0A8 12 -43 -7 -43 -7 8 12 8 12 -43 -7 -43 -7 8 12 8 12 -43 -7 -43 -7 8 12 8%0A12 -43 -7 -43 -7 8 12 8 13 -38 -7 -37 -7 8 12 7 12 -17 -6 c-9 -4 -15 -3 -12%0A2 7 11 -48 63 -58 54 -4 -4 -4 1 0 11 l7 19 -13 -8 -13 -8 7 11 c8 13 -34 103%0A-45 97 -10 -7 -20 25 -12 37 l6 11 -13 -8 -13 -8 6 17 7 17 -9 -5 c-10 -7 -23%0A22 -16 34 7 11 -177 380 -186 374 -10 -6 -20 26 -12 38 l6 11 -13 -8 -13 -8 6%0A17 7 17 -9 -5 c-11 -7 -23 22 -16 34 7 12 -101 228 -128 258 -19 21 -54 32%0A-43 13z m41 -21 c10 -11 16 -20 13 -20 -3 0 -13 9 -23 20 -10 11 -16 20 -13%0A20 3 0 13 -9 23 -20z m-1645 -1164 c0 -3 -5 -8 -12 -12 l-11 -7 7 11 c7 12 16%0A16 16 8z m3235 -6 c3 -5 4 -10 1 -10 -3 0 -8 5 -11 10 -3 6 -4 10 -1 10 3 0 8%0A-4 11 -10z' /%3E%3C/g%3E%3Cg transform='translate(0.000000,374.000000) scale(0.100000,-0.100000)' fill='%23CC3300' stroke='none'%3E%3Cpath d='M2355 3591 c-22 -10 -50 -29 -61 -42 -12 -13 -122 -233 -244 -489%0A-123 -256 -223 -466 -224 -466 -1 -1 -232 -36 -514 -78 l-513 -76 -34 -16%0Ac-41 -19 -72 -65 -81 -120 l-6 -41 17 -34 c10 -19 185 -200 391 -404 l373%0A-370 -91 -517 -90 -517 6 -36 c4 -19 20 -51 37 -70 l30 -34 44 -17 44 -16 28%0A7 c15 3 201 98 413 210 212 111 421 221 465 243 l80 40 470 -249 c258 -137%0A476 -249 485 -249 8 0 33 5 55 11 l40 11 37 38 38 38 0 53 c0 30 -38 279 -85%0A554 l-84 500 373 370 374 370 17 34 17 34 -6 40 c-9 57 -35 96 -77 118 l-37%0A18 -513 77 c-283 42 -514 77 -515 78 -1 0 -72 150 -159 331 -87 182 -187 389%0A-222 462 -35 73 -77 148 -94 167 l-31 36 -36 10 c-51 14 -71 12 -117 -9z m98%0A-99 c9 -9 118 -227 243 -482 125 -256 234 -473 243 -483 9 -11 23 -23 33 -28%0A9 -5 246 -42 526 -83 280 -41 519 -79 531 -85 l21 -12 0 -27 0 -28 -167 -164%0Ac-93 -91 -266 -261 -385 -379 l-218 -215 0 -43 c0 -24 38 -273 85 -553 47%0A-280 82 -516 79 -524 -3 -9 -16 -19 -29 -22 l-22 -6 -69 35 c-38 19 -244 128%0A-459 242 -214 114 -405 209 -423 212 l-32 6 -43 -17 c-23 -9 -240 -120 -481%0A-246 l-440 -231 -19 3 c-11 2 -24 10 -30 19 l-10 16 87 514 c47 283 86 525 86%0A538 0 14 -5 38 -12 55 l-12 31 -373 364 -373 364 0 28 0 28 21 12 c12 6 251%0A44 532 85 l511 74 24 16 24 16 210 426 c116 235 213 429 218 432 4 3 17 25 30%0A50 26 53 48 80 65 80 7 0 19 -8 28 -18z' /%3E%3C/g%3E%3C/svg%3E");
        display: block;
        margin-top: -50px;
        opacity: 0;
        position: absolute;
        z-index: 2;
        transition: 0.2s;
    }

    .circle:before{
        content: url("data:image/svg+xml; utf8, %0A%3Csvg width='30pt' height='30pt' viewBox='0 0 268.000000 219.000000' xmlns='http://www.w3.org/2000/svg'%3E%3Cg transform='translate(0.000000,219.000000) scale(0.100000,-0.100000)' fill='%23f9f9f9' stroke='none'%3E%3Cpath d='M0 1095 l0 -1095 1340 0 1340 0 0 1095 0 1095 -1340 0 -1340 0 0%0A-1095z m1440 1011 c769 -116 1079 -1055 531 -1603 -465 -465 -1222 -333 -1521%0A265 -330 662 253 1449 990 1338z' /%3E%3Cpath d='M1200 2065 c0 -11 12 -15 50 -15 38 0 50 4 50 15 0 11 -12 15 -50 15%0A-38 0 -50 -4 -50 -15z' /%3E%3Cpath d='M1310 2065 c0 -11 12 -15 50 -15 38 0 50 4 50 15 0 11 -12 15 -50 15%0A-38 0 -50 -4 -50 -15z' /%3E%3Cpath d='M1064 2050 c-349 -91 -628 -413 -661 -762 -5 -57 -3 -68 9 -68 11 0%0A17 16 21 63 27 265 226 545 477 672 65 33 220 85 253 85 9 0 17 7 17 15 0 20%0A-28 18 -116 -5z' /%3E%3Cpath d='M1420 2055 c0 -9 9 -15 22 -15 140 0 402 -152 536 -310 476 -564 62%0A-1440 -681 -1440 -424 0 -821 352 -863 767 -5 47 -11 63 -22 63 -37 0 11 -228%0A75 -353 308 -614 1145 -687 1554 -136 305 412 192 1029 -239 1305 -143 92%0A-382 166 -382 119z' /%3E%3Cpath d='M390 1170 c0 -29 4 -40 15 -40 11 0 15 11 15 40 0 29 -4 40 -15 40%0A-11 0 -15 -11 -15 -40z' /%3E%3C/g%3E%3Cg transform='translate(0.000000,219.000000) scale(0.100000,-0.100000)' fill='white' stroke='none'%3E%3Cpath d='M1286 2068 c5 -8 -10 -9 -60 -4 -50 5 -66 4 -61 -5 5 -8 -2 -9 -25%0A-4 -25 5 -31 4 -25 -6 6 -9 2 -11 -13 -7 -14 4 -20 2 -16 -4 5 -7 -2 -9 -19%0A-6 -16 3 -24 1 -20 -5 4 -6 -2 -8 -15 -5 -14 4 -20 2 -15 -5 4 -6 -2 -8 -15%0A-5 -14 4 -20 2 -16 -4 4 -6 -2 -8 -16 -3 -14 4 -20 3 -16 -3 7 -12 -22 -25%0A-36 -15 -7 4 -8 1 -3 -7 6 -10 4 -12 -9 -7 -9 4 -15 3 -12 -2 3 -4 -6 -13 -20%0A-20 -18 -8 -23 -8 -18 0 4 8 0 8 -15 0 -11 -7 -21 -14 -21 -17 0 -3 5 -2 12 2%0A7 4 8 3 4 -4 -4 -6 -12 -9 -19 -6 -7 2 -26 -8 -43 -23 -16 -16 -21 -21 -10%0A-13 21 15 21 15 2 -8 -11 -12 -25 -21 -32 -18 -17 7 -155 -140 -148 -157 3 -8%0A-3 -20 -12 -28 -15 -12 -17 -12 -9 0 5 9 4 12 -3 7 -6 -4 -9 -13 -6 -20 3 -8%0A0 -17 -7 -22 -8 -5 -10 -3 -4 6 5 9 4 11 -4 6 -6 -4 -9 -11 -6 -16 7 -12 -16%0A-60 -26 -54 -5 3 -6 -3 -2 -12 4 -12 3 -15 -5 -10 -8 5 -10 1 -5 -10 4 -12 3%0A-15 -5 -10 -8 5 -10 1 -5 -10 4 -12 3 -15 -5 -10 -8 5 -10 1 -5 -10 4 -11 3%0A-15 -4 -11 -7 5 -9 -1 -5 -15 4 -16 2 -19 -8 -13 -9 5 -11 4 -6 -4 9 -15 -3%0A-73 -14 -66 -4 3 -6 -5 -2 -17 3 -14 1 -19 -6 -14 -8 5 -10 -2 -5 -25 4 -22 3%0A-30 -5 -25 -8 5 -9 -8 -5 -45 4 -32 2 -50 -3 -46 -6 3 -10 -22 -10 -63 0 -40%0A4 -66 10 -63 5 4 7 -13 4 -40 -4 -31 -2 -44 5 -40 7 4 8 -7 4 -31 -4 -25 -2%0A-34 5 -30 7 5 9 0 6 -14 -4 -12 -2 -20 2 -17 11 7 23 -51 14 -66 -5 -8 -3 -9%0A6 -4 10 6 12 3 8 -13 -4 -12 -3 -20 2 -17 10 6 21 -21 14 -38 -2 -7 3 -21 12%0A-32 8 -11 13 -14 9 -7 -3 6 -4 12 -1 12 10 0 37 -60 31 -70 -3 -5 0 -12 6 -16%0A8 -5 9 -3 4 6 -6 9 -4 11 4 6 7 -5 10 -14 7 -22 -3 -7 0 -16 6 -20 7 -5 8 -2%0A3 7 -8 12 -6 12 9 0 9 -8 15 -20 12 -27 -3 -7 0 -16 6 -20 7 -5 8 -2 3 6 -6 9%0A-4 11 4 6 7 -5 10 -14 8 -21 -6 -15 124 -144 139 -139 6 3 17 -3 25 -13 13%0A-17 13 -17 -5 -3 -12 9 -17 10 -12 3 4 -7 16 -18 28 -24 16 -8 19 -8 13 1 -6%0A9 -2 9 14 1 11 -7 21 -14 21 -17 0 -3 -5 -2 -12 2 -7 4 -8 3 -4 -4 4 -6 13 -9%0A20 -6 8 3 17 0 22 -7 5 -8 3 -10 -6 -4 -9 5 -11 4 -6 -4 4 -6 11 -9 16 -6 12%0A7 41 -6 34 -16 -3 -5 3 -6 12 -2 13 5 15 3 9 -7 -5 -8 -4 -11 3 -7 15 10 43%0A-3 35 -16 -4 -6 0 -8 10 -4 22 8 49 -2 41 -15 -4 -6 2 -7 16 -3 16 5 20 4 15%0A-4 -5 -8 1 -10 21 -5 19 5 25 4 20 -4 -5 -8 2 -10 25 -5 19 3 30 2 26 -3 -3%0A-5 12 -8 35 -6 22 3 38 0 35 -4 -3 -5 55 -5 131 0 76 5 154 9 174 9 20 1 34 5%0A31 11 -4 5 3 7 15 4 14 -4 20 -2 16 4 -5 7 2 9 20 4 20 -5 26 -4 20 5 -5 9 -2%0A10 10 6 9 -4 15 -3 12 2 -8 12 50 35 65 25 8 -5 9 -3 4 6 -6 10 -4 12 9 7 11%0A-5 15 -3 10 5 -5 8 -2 9 10 5 11 -5 15 -3 10 5 -5 8 -2 9 9 5 9 -3 19 -1 23 5%0A4 7 3 8 -4 4 -7 -4 -12 -5 -12 -3 0 2 26 21 58 42 31 21 84 64 117 94 33 31%0A53 47 45 36 -14 -18 -14 -19 2 -6 10 7 15 17 13 22 -3 4 13 32 35 61 23 29 61%0A94 86 143 25 50 42 79 38 65 -3 -14 -20 -51 -35 -82 -19 -37 -24 -55 -15 -52%0A23 9 68 121 62 152 -3 15 3 59 14 97 11 39 17 53 14 33 -6 -46 11 -51 20 -7 9%0A45 8 61 -4 54 -6 -4 -9 14 -8 47 1 36 3 42 5 21 6 -47 23 -41 23 8 0 24 -4 38%0A-10 34 -6 -3 -10 3 -10 15 0 12 5 18 10 15 6 -4 10 10 10 34 0 49 -17 55 -23%0A9 -3 -25 -4 -21 -5 15 -1 30 2 46 8 42 6 -4 10 5 10 19 0 26 -19 38 -21 14 0%0A-7 -12 28 -25 77 -32 118 -78 215 -137 293 -26 35 -45 67 -42 72 3 4 -3 14%0A-13 21 -16 13 -16 12 -2 -6 12 -16 -86 69 -125 109 -15 15 25 -14 60 -43 30%0A-26 30 -26 0 9 -16 19 -31 37 -32 39 -1 2 -14 4 -27 4 -14 0 -31 7 -38 15 -10%0A12 -10 14 -1 8 9 -5 11 -2 7 8 -3 9 -13 16 -21 16 -8 0 -11 -5 -8 -11 4 -6%0A-12 -1 -34 11 -23 11 -39 25 -36 30 4 6 -1 7 -11 3 -12 -4 -15 -3 -10 5 5 8 1%0A10 -10 5 -12 -4 -15 -3 -10 5 5 8 1 10 -10 5 -11 -4 -15 -3 -11 4 5 7 -1 9%0A-15 5 -13 -3 -19 -1 -15 5 5 7 -1 9 -15 5 -13 -3 -19 -1 -15 5 5 7 -1 9 -15 5%0A-13 -3 -19 -1 -15 5 4 6 -4 8 -20 5 -17 -3 -24 -1 -19 6 4 6 -2 8 -16 4 -15%0A-4 -19 -2 -14 7 6 9 -1 11 -29 5 -27 -5 -36 -4 -31 5 5 8 -10 9 -55 4 -46 -4%0A-60 -3 -55 5 5 8 -2 12 -19 12 -17 0 -24 -4 -19 -12z m-556 -211 c0 -1 -28%0A-29 -62 -62 -63 -60 -63 -60 -3 3 55 58 65 67 65 59z m-50 -1322 c35 -36 62%0A-65 59 -65 -2 0 -34 29 -69 65 -35 36 -62 65 -59 65 2 0 34 -29 69 -65z' /%3E%3Cpath d='M620 1845 c-13 -14 -21 -28 -17 -31 9 -9 27 5 27 22 0 8 7 14 15 14%0A8 0 15 5 15 10 0 17 -15 11 -40 -15z' /%3E%3Cpath d='M466 1637 c-27 -46 -31 -57 -18 -57 11 0 57 88 50 95 -3 4 -18 -13%0A-32 -38z' /%3E%3Cpath d='M2115 1558 c37 -76 45 -89 45 -68 0 22 -52 129 -65 134 -8 3 0 -25%0A20 -66z' /%3E%3Cpath d='M417 1538 c-24 -57 -29 -78 -18 -78 11 0 46 98 38 107 -3 3 -12 -10%0A-20 -29z' /%3E%3Cpath d='M347 1213 c-11 -10 -8 -81 3 -88 6 -4 10 13 10 44 0 52 -1 56 -13 44z' /%3E%3Cpath d='M386 893 c10 -44 34 -97 40 -90 8 7 -28 117 -38 117 -5 0 -5 -12 -2%0A-27z' /%3E%3Cpath d='M2037 649 c-21 -28 -36 -53 -33 -56 8 -8 26 7 26 22 0 7 7 15 15 19%0A8 3 15 12 15 20 0 8 5 16 12 18 6 2 9 10 7 16 -2 7 -21 -10 -42 -39z' /%3E%3Cpath d='M520 623 c0 -19 49 -68 50 -50 0 10 -7 20 -15 23 -8 4 -15 12 -15 20%0A0 8 -4 14 -10 14 -5 0 -10 -3 -10 -7z' /%3E%3Cpath d='M580 542 c0 -5 11 -19 25 -32 19 -18 25 -20 25 -8 0 8 -8 22 -18 31%0A-20 19 -32 22 -32 9z' /%3E%3Cpath d='M1920 515 c-19 -20 -59 -52 -88 -73 -30 -20 -48 -38 -41 -41 7 -2 15%0A1 17 8 2 6 10 11 18 11 8 0 14 5 14 10 0 6 8 14 18 17 9 4 25 18 36 31 10 13%0A29 28 42 32 13 5 24 16 24 25 0 21 -1 20 -40 -20z' /%3E%3C/g%3E%3Cg transform='translate(0.000000,219.000000) scale(0.100000,-0.100000)' fill='%23DDD3CA' stroke='none'%3E%3Cpath d='M1150 2115 c-706 -111 -1041 -959 -604 -1527 561 -729 1709 -334%0A1708 587 -1 599 -511 1033 -1104 940z m385 -74 c638 -167 887 -963 456 -1455%0A-527 -599 -1492 -297 -1580 497 -69 611 522 1115 1124 958z' /%3E%3C/g%3E%3C/svg%3E");
        display: block;
        position: relative;
        z-index: 1;

    }
    .circle::after{
        content: url("data:image/svg+xml; utf8, %0A%3Csvg width='30pt' height='30pt' viewBox='0 0 268.000000 219.000000' xmlns='http://www.w3.org/2000/svg'%3E%3Cg transform='translate(0.000000,219.000000) scale(0.100000,-0.100000)' fill='%23f9f9f9' stroke='none'%3E%3Cpath d='M0 1095 l0 -1095 1340 0 1340 0 0 1095 0 1095 -1340 0 -1340 0 0%0A-1095z m1440 1011 c769 -116 1079 -1055 531 -1603 -465 -465 -1222 -333 -1521%0A265 -330 662 253 1449 990 1338z' /%3E%3Cpath d='M1200 2065 c0 -11 12 -15 50 -15 38 0 50 4 50 15 0 11 -12 15 -50 15%0A-38 0 -50 -4 -50 -15z' /%3E%3Cpath d='M1310 2065 c0 -11 12 -15 50 -15 38 0 50 4 50 15 0 11 -12 15 -50 15%0A-38 0 -50 -4 -50 -15z' /%3E%3Cpath d='M1064 2050 c-349 -91 -628 -413 -661 -762 -5 -57 -3 -68 9 -68 11 0%0A17 16 21 63 27 265 226 545 477 672 65 33 220 85 253 85 9 0 17 7 17 15 0 20%0A-28 18 -116 -5z' /%3E%3Cpath d='M1420 2055 c0 -9 9 -15 22 -15 140 0 402 -152 536 -310 476 -564 62%0A-1440 -681 -1440 -424 0 -821 352 -863 767 -5 47 -11 63 -22 63 -37 0 11 -228%0A75 -353 308 -614 1145 -687 1554 -136 305 412 192 1029 -239 1305 -143 92%0A-382 166 -382 119z' /%3E%3Cpath d='M390 1170 c0 -29 4 -40 15 -40 11 0 15 11 15 40 0 29 -4 40 -15 40%0A-11 0 -15 -11 -15 -40z' /%3E%3C/g%3E%3Cg transform='translate(0.000000,219.000000) scale(0.100000,-0.100000)' fill='white' stroke='none'%3E%3Cpath d='M1286 2068 c5 -8 -10 -9 -60 -4 -50 5 -66 4 -61 -5 5 -8 -2 -9 -25%0A-4 -25 5 -31 4 -25 -6 6 -9 2 -11 -13 -7 -14 4 -20 2 -16 -4 5 -7 -2 -9 -19%0A-6 -16 3 -24 1 -20 -5 4 -6 -2 -8 -15 -5 -14 4 -20 2 -15 -5 4 -6 -2 -8 -15%0A-5 -14 4 -20 2 -16 -4 4 -6 -2 -8 -16 -3 -14 4 -20 3 -16 -3 7 -12 -22 -25%0A-36 -15 -7 4 -8 1 -3 -7 6 -10 4 -12 -9 -7 -9 4 -15 3 -12 -2 3 -4 -6 -13 -20%0A-20 -18 -8 -23 -8 -18 0 4 8 0 8 -15 0 -11 -7 -21 -14 -21 -17 0 -3 5 -2 12 2%0A7 4 8 3 4 -4 -4 -6 -12 -9 -19 -6 -7 2 -26 -8 -43 -23 -16 -16 -21 -21 -10%0A-13 21 15 21 15 2 -8 -11 -12 -25 -21 -32 -18 -17 7 -155 -140 -148 -157 3 -8%0A-3 -20 -12 -28 -15 -12 -17 -12 -9 0 5 9 4 12 -3 7 -6 -4 -9 -13 -6 -20 3 -8%0A0 -17 -7 -22 -8 -5 -10 -3 -4 6 5 9 4 11 -4 6 -6 -4 -9 -11 -6 -16 7 -12 -16%0A-60 -26 -54 -5 3 -6 -3 -2 -12 4 -12 3 -15 -5 -10 -8 5 -10 1 -5 -10 4 -12 3%0A-15 -5 -10 -8 5 -10 1 -5 -10 4 -12 3 -15 -5 -10 -8 5 -10 1 -5 -10 4 -11 3%0A-15 -4 -11 -7 5 -9 -1 -5 -15 4 -16 2 -19 -8 -13 -9 5 -11 4 -6 -4 9 -15 -3%0A-73 -14 -66 -4 3 -6 -5 -2 -17 3 -14 1 -19 -6 -14 -8 5 -10 -2 -5 -25 4 -22 3%0A-30 -5 -25 -8 5 -9 -8 -5 -45 4 -32 2 -50 -3 -46 -6 3 -10 -22 -10 -63 0 -40%0A4 -66 10 -63 5 4 7 -13 4 -40 -4 -31 -2 -44 5 -40 7 4 8 -7 4 -31 -4 -25 -2%0A-34 5 -30 7 5 9 0 6 -14 -4 -12 -2 -20 2 -17 11 7 23 -51 14 -66 -5 -8 -3 -9%0A6 -4 10 6 12 3 8 -13 -4 -12 -3 -20 2 -17 10 6 21 -21 14 -38 -2 -7 3 -21 12%0A-32 8 -11 13 -14 9 -7 -3 6 -4 12 -1 12 10 0 37 -60 31 -70 -3 -5 0 -12 6 -16%0A8 -5 9 -3 4 6 -6 9 -4 11 4 6 7 -5 10 -14 7 -22 -3 -7 0 -16 6 -20 7 -5 8 -2%0A3 7 -8 12 -6 12 9 0 9 -8 15 -20 12 -27 -3 -7 0 -16 6 -20 7 -5 8 -2 3 6 -6 9%0A-4 11 4 6 7 -5 10 -14 8 -21 -6 -15 124 -144 139 -139 6 3 17 -3 25 -13 13%0A-17 13 -17 -5 -3 -12 9 -17 10 -12 3 4 -7 16 -18 28 -24 16 -8 19 -8 13 1 -6%0A9 -2 9 14 1 11 -7 21 -14 21 -17 0 -3 -5 -2 -12 2 -7 4 -8 3 -4 -4 4 -6 13 -9%0A20 -6 8 3 17 0 22 -7 5 -8 3 -10 -6 -4 -9 5 -11 4 -6 -4 4 -6 11 -9 16 -6 12%0A7 41 -6 34 -16 -3 -5 3 -6 12 -2 13 5 15 3 9 -7 -5 -8 -4 -11 3 -7 15 10 43%0A-3 35 -16 -4 -6 0 -8 10 -4 22 8 49 -2 41 -15 -4 -6 2 -7 16 -3 16 5 20 4 15%0A-4 -5 -8 1 -10 21 -5 19 5 25 4 20 -4 -5 -8 2 -10 25 -5 19 3 30 2 26 -3 -3%0A-5 12 -8 35 -6 22 3 38 0 35 -4 -3 -5 55 -5 131 0 76 5 154 9 174 9 20 1 34 5%0A31 11 -4 5 3 7 15 4 14 -4 20 -2 16 4 -5 7 2 9 20 4 20 -5 26 -4 20 5 -5 9 -2%0A10 10 6 9 -4 15 -3 12 2 -8 12 50 35 65 25 8 -5 9 -3 4 6 -6 10 -4 12 9 7 11%0A-5 15 -3 10 5 -5 8 -2 9 10 5 11 -5 15 -3 10 5 -5 8 -2 9 9 5 9 -3 19 -1 23 5%0A4 7 3 8 -4 4 -7 -4 -12 -5 -12 -3 0 2 26 21 58 42 31 21 84 64 117 94 33 31%0A53 47 45 36 -14 -18 -14 -19 2 -6 10 7 15 17 13 22 -3 4 13 32 35 61 23 29 61%0A94 86 143 25 50 42 79 38 65 -3 -14 -20 -51 -35 -82 -19 -37 -24 -55 -15 -52%0A23 9 68 121 62 152 -3 15 3 59 14 97 11 39 17 53 14 33 -6 -46 11 -51 20 -7 9%0A45 8 61 -4 54 -6 -4 -9 14 -8 47 1 36 3 42 5 21 6 -47 23 -41 23 8 0 24 -4 38%0A-10 34 -6 -3 -10 3 -10 15 0 12 5 18 10 15 6 -4 10 10 10 34 0 49 -17 55 -23%0A9 -3 -25 -4 -21 -5 15 -1 30 2 46 8 42 6 -4 10 5 10 19 0 26 -19 38 -21 14 0%0A-7 -12 28 -25 77 -32 118 -78 215 -137 293 -26 35 -45 67 -42 72 3 4 -3 14%0A-13 21 -16 13 -16 12 -2 -6 12 -16 -86 69 -125 109 -15 15 25 -14 60 -43 30%0A-26 30 -26 0 9 -16 19 -31 37 -32 39 -1 2 -14 4 -27 4 -14 0 -31 7 -38 15 -10%0A12 -10 14 -1 8 9 -5 11 -2 7 8 -3 9 -13 16 -21 16 -8 0 -11 -5 -8 -11 4 -6%0A-12 -1 -34 11 -23 11 -39 25 -36 30 4 6 -1 7 -11 3 -12 -4 -15 -3 -10 5 5 8 1%0A10 -10 5 -12 -4 -15 -3 -10 5 5 8 1 10 -10 5 -11 -4 -15 -3 -11 4 5 7 -1 9%0A-15 5 -13 -3 -19 -1 -15 5 5 7 -1 9 -15 5 -13 -3 -19 -1 -15 5 5 7 -1 9 -15 5%0A-13 -3 -19 -1 -15 5 4 6 -4 8 -20 5 -17 -3 -24 -1 -19 6 4 6 -2 8 -16 4 -15%0A-4 -19 -2 -14 7 6 9 -1 11 -29 5 -27 -5 -36 -4 -31 5 5 8 -10 9 -55 4 -46 -4%0A-60 -3 -55 5 5 8 -2 12 -19 12 -17 0 -24 -4 -19 -12z m-556 -211 c0 -1 -28%0A-29 -62 -62 -63 -60 -63 -60 -3 3 55 58 65 67 65 59z m-50 -1322 c35 -36 62%0A-65 59 -65 -2 0 -34 29 -69 65 -35 36 -62 65 -59 65 2 0 34 -29 69 -65z' /%3E%3Cpath d='M620 1845 c-13 -14 -21 -28 -17 -31 9 -9 27 5 27 22 0 8 7 14 15 14%0A8 0 15 5 15 10 0 17 -15 11 -40 -15z' /%3E%3Cpath d='M466 1637 c-27 -46 -31 -57 -18 -57 11 0 57 88 50 95 -3 4 -18 -13%0A-32 -38z' /%3E%3Cpath d='M2115 1558 c37 -76 45 -89 45 -68 0 22 -52 129 -65 134 -8 3 0 -25%0A20 -66z' /%3E%3Cpath d='M417 1538 c-24 -57 -29 -78 -18 -78 11 0 46 98 38 107 -3 3 -12 -10%0A-20 -29z' /%3E%3Cpath d='M347 1213 c-11 -10 -8 -81 3 -88 6 -4 10 13 10 44 0 52 -1 56 -13 44z' /%3E%3Cpath d='M386 893 c10 -44 34 -97 40 -90 8 7 -28 117 -38 117 -5 0 -5 -12 -2%0A-27z' /%3E%3Cpath d='M2037 649 c-21 -28 -36 -53 -33 -56 8 -8 26 7 26 22 0 7 7 15 15 19%0A8 3 15 12 15 20 0 8 5 16 12 18 6 2 9 10 7 16 -2 7 -21 -10 -42 -39z' /%3E%3Cpath d='M520 623 c0 -19 49 -68 50 -50 0 10 -7 20 -15 23 -8 4 -15 12 -15 20%0A0 8 -4 14 -10 14 -5 0 -10 -3 -10 -7z' /%3E%3Cpath d='M580 542 c0 -5 11 -19 25 -32 19 -18 25 -20 25 -8 0 8 -8 22 -18 31%0A-20 19 -32 22 -32 9z' /%3E%3Cpath d='M1920 515 c-19 -20 -59 -52 -88 -73 -30 -20 -48 -38 -41 -41 7 -2 15%0A1 17 8 2 6 10 11 18 11 8 0 14 5 14 10 0 6 8 14 18 17 9 4 25 18 36 31 10 13%0A29 28 42 32 13 5 24 16 24 25 0 21 -1 20 -40 -20z' /%3E%3C/g%3E%3Cg transform='translate(0.000000,219.000000) scale(0.100000,-0.100000)' fill='%23CC3300' stroke='none'%3E%3Cpath d='M1150 2115 c-706 -111 -1041 -959 -604 -1527 561 -729 1709 -334%0A1708 587 -1 599 -511 1033 -1104 940z m385 -74 c638 -167 887 -963 456 -1455%0A-527 -599 -1492 -297 -1580 497 -69 611 522 1115 1124 958z' /%3E%3C/g%3E%3C/svg%3E");
        display: block;
        margin-top: -43px;
        opacity: 0;
        position: absolute;
        z-index: 2;
        transition: 0.2s;
    }
    .rating input:checked ~ .circle::after , 
    .circle:hover::after{
        opacity: 1;
    }
    .circle{
        padding-right: 0;
        margin-right: 0.4rem;
        margin-bottom: 0;
        width: 35pt;
    }
    
    .radio-label{
        margin-bottom: 0;
        margin-top: 10px; 
        margin-right: 1rem;
    }

    .form-upper{
        display: flex;
        margin-top: auto;
        gap: 1rem;
        button{
            margin-bottom: 0;
            margin-top: auto;
            height: 3rem;
        }

    } 
    .bars{
        display: flex;
        margin-top: 1rem;
        gap: 1rem
    }  
    .input-field{
        justify-content: inherit;
    }
    .radio-btns{
        display: grid;
        transform: none;
        margin-left: 0;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: "a b c" "d none none";
        grid-template-columns: 1fr 1fr 1fr;
        div{
            display: flex;
            width: 100% !important; 
        }
    }
    #a{
        grid-area: a;
    }
    #b{
        grid-area: b;
    }
    #c{
        grid-area: c;
    }
    #d{
        grid-area: d;
    }
    .affordability{
        display: flex;
        flex-direction: column;
        > label{
            margin-bottom: 1rem;
        }
    
    }
    .input-field{
        div{
            width: 40%;
        }
    }
    .form-lower{
        button{
            width: 300px;
            margin-left: auto;
        }
    }


}